services:
  mongo:
    image: mongo:6.0
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    image: ghcr.io/jiakeke/cookbook-backend:latest
    restart: always
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/cookbook
      - JWT_SECRET=${JWT_SECRET}
      - CORS_ORIGIN=${CORS_ORIGIN}
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app-network
    volumes:
      - uploads-data:/usr/src/app/public/uploads

  frontend:
    image: ghcr.io/jiakeke/cookbook-frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo-data:
  uploads-data:

networks:
  app-network:
    driver: bridge
